.rating {
  color:white;
  font-weight: 800;
  position:absolute;
  right:2px;
  bottom:2px;
  padding:1px 4px 1px 4px;
  border-radius: 2px;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color:yellow;
}

.color-green {
  background-color: green;
}

.not-found {
  background-color:grey;
}

.prof-wrapper {
  position:relative;
  overflow: auto;
  height:100%;
}

td {
  height:100%;
}
