.rating {
  color:white;
  font-weight: 800;
  position:absolute;
  right:2px;
  bottom:2px;
  padding:1px 4px 1px 4px;
  border-radius: 2px;
  text-decoration: none;
}

.color-red {
  background-color: #e01743;
}

.color-yellow {
  background-color: #f7cc1e;
}

.color-green {
  background-color: #b2cf37;
}

.color-grey {
  background-color:grey;
}

.prof-wrapper {
  position:relative;
  overflow: hidden;
  height:100%;
}

td {
  height:100%;
}
